extends partials/templates/_template--index.pug

block content
  +b.SECTION.page--front-page
  - var index = true
    // The best
    +b.SECTION.best
      .container
        .row.row-xs-bottom
          .col-xs-12.col-lg-7 
            +e.block
              +e.H1.title 
                div Мы лучшие 
                div в своем классе
              +e.text На сегодняшний день выдано 10 543 сертификатов
          .col-xs-12.col-md-8.offset-md-2.col-lg-5.offset-lg-0
            +e.form
              // Form call
              include partials/components/_form--call.pug
    // Services
    include partials/components/_services.pug 
    // About us
    +b.SECTION.about-us
      .container
        .row
          .col-xs-12.col-lg-10.offset-lg-1
            +e.H2.title О нас
            +e.text Сертификационная компания «Гортест» успешно оказывает клиентам  услуги по подтверждению качества уже более десяти лет. Опыт наших сотрудников – гарантия  профессионализма. Специалисты «Гортеста»  проконсультируют Вас относительно любых вопросов и в оптимальные сроки осуществят сертификацию, подобрав для Вас  удобную схему и решив все проблемы, возникшие в процессе оформления  бумаг. Нам доверяют крупные известные компании, и в  нашей стране, и за ее пределами.
    // Glossary
    include partials/components/_glossary--dark.pug 
    // FAQ
    include partials/components/_faq.pug 
    // Specialists
    +b.SECTION.specialists
      .container
        .row
          .col-xs-12.col-lg-6 
            +e.H2.title С вами работает    
            // Manager
            include partials/components/_manager.pug 
          .col-xs-12.col-md-8.offset-md-2.col-lg-6.offset-lg-0
            +e.specialists__form
              // Form application
              include partials/components/_form--application.pug

    // Reviews
    include partials/components/_reviews.pug 
    // Clients
    include partials/components/_clients.pug 
    // Contacts
    include partials/components/_contacts.pug


