extends partials/templates/_template.pug

block content
  +b.SECTION.page--services

    // Content
    +b.SECTION.content
    
      +e.inner
        .container
          // Breadcrumbs
          +b.SECTION.breadcrumbs--dark
            a(href="index.html") Сертификационный центр Гортест
            ='>'
            span Услуги
          +e.H1.title Услуги
          +e.description(itemprop="mainEntity") Сертификационный центр «Гортест» является одним из ведущих центров. Специалисты «Гортест» оказывают услуги в области оценки качества на высшем уровне уже долгие годы. При этом мы предлагаем не только проведение сертификации товаров.
      - var index = false
      // Services
      include partials/components/_services.pug 

      +e.content__text(itemprop="articleBody")
        .container
          h2 Какая продукция подлежит обязательной оценке качества?
          p Сертификация товаров может быть как добровольной, так и обязательной. Необходимость проведения оценки качества зависит от конкретного типа изделий и от требований.  В системе ГОСТ сгруппированы в специальный перечень, регламентируемый ППРФ №982 от 1 декабря 2009 года, а подлежащие сертификации по Техрегламентам товары входят в списки этих самых регламентов.
          p На сегодняшний день сертификации и декларированию подлежат такие товары:
          ul
            li Пищевая продукция;
            li Лёгкая промышленность;
            li Оборудование (промышленное и бытовое);
            li Транспортные средства и автозапчасти;
            li Детские товары;
            li Косметика и парфюмерия;
            li Упаковочные средства;
            li Средства защиты;
            li Табак;
            li Лифты;
            li Лодки;
            li Некоторые виды строительных материалов;
            li Многое другое.
          p Чтобы понять, подлежит ли  товар проверке по тому или иному нормативному документу, требуется ли на него получать сертификат или другой разрешительный документ, необходимо обращаться в аккредитованные центры сертификации. Например, в нашем центре «Гортест» мы оказываем услуги по присвоению кода ВЭД и можем точно и быстро определить, какие Вам потребуются сертификаты: Вам нужно лишь будет дать точное наименование и описание товара.

          h2 Как проходит сертификация в Петербурге?
          p Процедура оценки качества проходит одинаково как в Петербурге, так и в других городах и регионах РФ. В частности, проверка состоит из таких этапов:
          ol
            li Ваша компания направляет нам запрос.
            li Мы помогаем Вам составить заявку и подготовить документы.
            li После этого Вы предоставляете необходимый образец продукции (или образцы – в зависимости от товара), который мы отправляем в одну из сотрудничающих с центром «Гортест» лабораторию, где товар проходит надлежащую экспертизу.
            li При определённых схемах проверки также потребуется оценить безопасность производства – в этом случае к Вам на предприятие выедет экспертная группа, которая проверит соответствие технологических процессов утверждённым нормам.
            li Итогом проведённых экспертиз станет выдача разрешительного документа.
            li Сертификация товаров проводится по инициативе предпринимателя, если она добровольная. В этом случае компания получает множество различных бонусов и преимуществ – от возможности приёма госзаказа до выхода на международные рынки.

    // Specialists
    include partials/components/_specialists.pug 


