extends partials/templates/_template.pug

block content
  +b.SECTION.page--news

    // Content
    +b.SECTION.content
    
      +e.bg
        .container
          // Breadcrumbs
          +b.SECTION.breadcrumbs
              a(href="index.html") Сертификационный центр Гортест
              ='>'
              span Новости2
          +e.H1.title Последние новости

    // News
    include partials/components/_news.pug 
    // Specialists
    +b.SECTION.specialists
      .container
        .row
          .col-xs-12.col-lg-6 
            +e.H2.title С вами работает    
            // Manager
            include partials/components/_manager.pug 
          .col-xs-12.col-md-8.offset-md-2.col-lg-6.offset-lg-0
            +e.specialists__form
              // Form application
              include partials/components/_form--application.pug


