extends partials/templates/_template.pug

block content
  +b.SECTION.page--single-service

    // Content
    +b.SECTION.content(itemscope, itemtype="http://schema.org/Article")

      +e.inner
        .container

          // Breadcrumbs
          +b.SECTION.breadcrumbs--dark
            a(href="index.html") Сертификационный центр Гортест
            ='>'
            a(href="page-services.html") Услуги
            ='>'
            span Сертификат соответствия Техническому регламенту


          .row.row-xs-bottom
            .col-xs-12.col-lg-8.col-xl-9
              +e.H1.title(itemprop="headline") Сертификат соответствия Техническому регламенту (h1)
              +e.description(itemprop="mainEntity") Закажите в сертификационном центре «Гортест» сертификат соответствия техническому регламенту Таможенного союза – основное подтверждение безопасности и качества вашей продукции, действующее во всех странах ТС.  
              +e.form
                // Form call
                include partials/components/_form--call.pug 
            .col-xs-12.col-md-8.offset-md-2.col-lg-4.offset-lg-0.col-xl-3
              +e.content__img
                img(src='img/cert1.jpg', alt='cert1', title='cert1')

          +e.content__text(itemprop="articleBody") 
            h2 Когда оформлять сертификат соответствия ТР ТС 
            p Товары, которым требуется подтверждение соблюдения требований ТР ТС, перечислены в тексте каждого регламента с указанием положенных им:
            ul
              li документальной формы подтверждения соответствия (сертификат, декларация, СГР),
              li схемы (на партию, контракт или серийное производство).
            p Существует специальная, Единая форма КТС (утверждена решением №319 в 2010 г.) – полный перечень товаров, попадающих под действие того или итого регламента.
            p Не имеющий представителя из ТС иностранец может оформить только сертификат соответствия ТР ТС.
            p Продукция, попавшая под требования одного из ТР ТС, нуждается в сертификации с момента его вступления в силу. 

            h2 По каким схемам можно оформить сертификат соответствия техническому регламенту Таможенного союза
            p Порядок сертификации, определяющий ее продолжительность и цену, называют схемой. Выбор схемы задает основные параметры сертификации:
            ul
              li степень самостоятельности в получении доказательств (где проводить испытания),
              li число испытаний и протоколов (влияет на стоимость),
              li нужна ли выездная проверка производства.
            p Выбор схемы лучше делегировать. Опыт наших специалистов позволит использовать все существующие возможности. 
            p В общем виде схему выбирают, исходя из:
            ul
              li вашего статуса (зарегистрированы ли в ТС, поставщик или изготовитель),
              li вида производства (единичное или серийное),
              li периодичности и объемов поставки (партия или контракт).
            h2 Каждая схема имеет свои нюансы:
            ul
              li 9c – достаточно экспертизы техдокументации, испытания не нужны;
              li 8с – обязательны не только испытания образцов, но и сертификация СМК;
              li 7с – испытания, проверка производства, а после – инспекционный контроль;
              li 2с – до испытаний потребуется сертификация по ИСО-9001;
              li 5с – к проверке производства добавляется исследование проекта;
              li 3c – ничего, кроме испытаний продукции;
              li 1c – испытания и инспекционный контроль;
              li 6c – к схеме 5с добавлен инспекционный контроль;
              li 4с – испытания нужны не только отобранным образцам, а каждой единице продукции.
            h2 По каким документам оформляют сертификат соответствия ТР ТС
            p При подаче заявки вам потребуются документы:
            ul
              li ОГРН, ИНН, ЕГРЮЛ, 
                a(href='/') (Пример)
              li карточка вашей организации с реквизитами, 
                a(href='/') (Пример)
              li техдокументация (недостающие закажите в «Гортест»), 
                a(href='/') (Пример)
              li фотографии продукции, 
                a(href='/') (Пример)
              li этикетки, 
                a(href='/') (Пример)
              li акт анализа производства (если есть), 
                a(href='/') (Пример)
              li контракт на поставку (ВЭД), 
                a(href='/') (Пример)
              li сертификат ISО на иностранного изготовителя. 
                a(href='/') (Пример)

    // Specialists
    include partials/components/_specialists.pug 
    // Clients
    include partials/components/_clients.pug 

