.about-us{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;

  &__title{
    font-size: $font-size-title;
    @include font-family('Open Sans Light', normal, normal);
    margin: 0 0 10px;
  }
  &__text{
    font-size: $font-size-big;
    line-height: 1.6;
    @include font-family('Open Sans Light', normal, normal);
  }
}

