.btn{
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 3px; 
  background-color: $orange-btn;
  color: $text-color-white;
  @include font-family('Open Sans Semibold', normal, normal);  
  font-size: $font-size-btn; 
  text-transform: uppercase;
  padding: 10px 30px;
  margin: 0;
  &:hover, &:focus, &:active{
    color: $text-color-white;
    text-decoration: none;
  }

  &--form{
    width: 100%;
  } 
  &--404{
    background-color: $green;
    text-transform: none;
  }
  &--more{
    background-color: $white;
    color: $dark-violet;
    @include font-family('Open Sans Regular', normal, normal); 
    font-size: $font-size-small;
    &:hover, &:focus, &:active{
      color: $dark-violet;
      text-decoration: underline;
    }
  } 
  &--footer{
    font-size: $font-size;
  }
}

