.contacts-section{
  color: $dark-grey;
  &__line{
    margin: 10px 0;
  }
  &__link{
    color: $dark-grey;
  }
  .icon{
    position: relative;
    margin-left: 30px;
    &:before{
      position: absolute;
      left: -15px;
      bottom: -2px;
      color: $blue;
      font-size: 1.5em;
      transform: translateX(-50%);
    }
  }
}

