.contacts{
  padding-top: 50px;
  @include mq($from:xs, $until:lg){
    padding-top: 40px;
  }

  &__title{
    text-align: center;
    font-size: $font-size-title;
    @include font-family('Open Sans Light', normal, normal);
    margin: 0 0 50px;
  }
  &__map{
    margin-left: -15px;
    margin-right: -15px;
    height: 100%;
    @include mq($from:xs, $until:lg){
      margin-right: 0;
      height: 350px;
    }
  }
}



.pin{
  background-image: url(../img/map-pin.png);
  background-repeat: no-repeat;
  width: 67px;
  height: 94px;
}