.glossary{
  background-color: $dark-violet;
  color: $text-violet;
  padding-top: 35px;
  &__line{
    border-bottom: 1px solid $text-violet;
  }
  &__title{
    color: $text-color-white;
    font-size: $font-size-big;
    @include font-family('Open Sans Light', normal, normal);
    margin: 20px 0;
  }
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
  }
  &__link{
    color: $text-violet;
    padding: 0 3px;
    &--active{
      color: $text-color-white;
    }
  }
}

.glossary-excerpt{
  max-height: 210px;
  overflow-y: hidden; 
  position: relative;
  &:before{
    content: '';
    position: absolute;
    pointer-events: none;
    // z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, $dark-violet, transparent 50%);  
  }

  &:after{
    content: '';
    position: absolute;
    top: 20%;
    right: 15px;
    background-color: $text-violet;
    width: 1px;
    height: 60%;
  }
  &:last-of-type{
    &:after{
      display: none;
    }      
  }
  &__title{
    font-size: $font-size-big;
    @include font-family('Open Sans Light', normal, normal);
    margin: 35px 0 5px;    
  }
  &__link{
    color: $text-color-white;
  }
  &__text{
    font-size: $font-size-glossary;
    line-height: 1.666666;
    @include font-family('Open Sans Regular', normal, normal);
  }
}

