.header{
  position: relative;
  &__inner{
    @include mq($from:xs, $until:lg){
      text-align: center;
    }    
  }
  &__nav{
    border-top: 1px solid $lighter-grey;
    background-color: $white;
    &--sticky{
      position: fixed;
      z-index: 3;
      width: 100%;
      top: 0;
      left: 0;
      border-bottom: 1px solid $lighter-grey;
    }
  }
  &__search{
    position: fixed;
    z-index: 4;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $green;
  }
}

.logo{
  display: block;
  &--header{
    margin: 35px 0;
    @include mq($from:xs, $until:lg){
      margin: 20px 0;
    }
  }
  &--footer{
    margin: 10px 0;
    @include mq($from:xs, $until:lg){
      margin: 10px 0 30px;
    }
  }
}

.search{
  display: none;
  position: relative;
  padding: 20px 0;
  color: $text-color-white;
  @include font-family('Open Sans Light', normal, normal);
  font-size: $font-size-big;
  &__input{
    background-color: transparent;    
    width: 100%;
    border: none;
    outline: none;
    &::-webkit-input-placeholder{
      color: $text-color-white;         
    }       
    &::placeholder{
      color: $text-color-white;         
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    } 
  }
  &__close{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: $text-color-white;
    font-size: 1.2em;
    opacity: 0.5;
  }
}