.services{
  background-color: $lightest-grey;
  padding-top: 50px;
  @include mq($from:xs, $until:lg){
    padding-top: 20px;
  }

  &__bg{
    background-image: url(../img/bg-stamp.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    padding-bottom: 50px; 
    @include mq($from:xs, $until:xl){
      padding-bottom: 20px;
    }       
  }
  &__title{
    @include font-family('Open Sans Light', normal, normal);
    font-size: $font-size-title;
    margin: 0 0 65px;
    text-align: center;
    @include mq($from:xs, $until:lg){
      margin: 0 0 30px;
    }   
  }
  &__block{
    margin-bottom: 25px;
  }
}

.services-type{
  background-color: $white;
  min-height: 270px;
  // height: 100%;
  border: 4px solid transparent;
  border-radius: 5px;
  @include mq($from:md, $until:lg){
    height: 100%;
    min-height: 200px;
  } 
  @include mq($from:xs, $until:md){
    height: 100%;
    min-height: initial;
  } 

  &--question{
    background-color: $green;
    display: flex;
    align-items: center;
    .services-type__title{
      padding: 10px 0;
      margin: 0 auto;
    }
    .services-type__link{
      color: $text-color-white;
      &:before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        @include sprite($s-question);
      }
    }
  }

  &:hover, &:focus {
    border: 4px solid $green;    
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2); 
  }

  &__title{
    @include font-family('Open Sans Semibold', normal, normal);
    font-size: $font-size-subtitle;
    padding: 10px 0 5px 55px;
    margin: 0;
    color: $green-title;
    position: relative;
    line-height: 1.68;   
  }
  &__icon{
    position: absolute;
    top: 0.3em;
    left: 0.6em;
    svg{
      width: 35px;
      height: 35px;
    }
    use{
      fill: $green;
    }
  }
  &__list{
    padding-left: 20px;
    padding-right: 5px;
    margin: 10px 0;
    list-style-type: none;
    font-size: $font-size-small;
    @include font-family('Open Sans Light', normal, normal);    
  }
  &__item{
    // display: none;
    position: relative;
    padding: 5px 10px 5px 15px;
    &:before{
      content: '';
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 0;
      @include sprite($s-chevron);
    }

    &--hidden{
      // display: none;
    }
    &--more{

      padding-left: 0;
      text-align: center; 
      font-size: $font-size-text;     
      &:before{
        display: none;
      }
      .services-type__link{
        color: $blue;
        text-decoration: underline;
      }
    }
  }
  &__title-link{
    // display: inline-block;
    color: $green-title;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  &__link{
    display: inline-block;
    color: $text-color;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
