include ../abstracts/bemto/bemto.pug


+b.SECTION.contacts
  .container
    +e.H2.title Контакты:
    .row
      .col-xs-12.col-lg-7     
        +e.map
          //- iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2182.977519681184!2d60.612608316131734!3d56.82917491592866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16e92362391ed%3A0xdebbb22cfed8d2ca!2z0YPQuy4g0KDQvtC30Ysg0JvRjtC60YHQtdC80LHRg9GA0LMsIDUxLCDQldC60LDRgtC10YDQuNC90LHRg9GA0LMsINCh0LLQtdGA0LTQu9C-0LLRgdC60LDRjyDQvtCx0LsuLCA2MjAwMjY!5e0!3m2!1sru!2sru!4v1472217833130', frameborder="0", style="border:0", allowfullscreen)  
      .col-xs-12.col-lg-5
        +b.contacts-section--map(itemscope, itemtype="http://schema.org/ContactPoint")
          +e.line 
            +e.SPAN.address(itemprop="areaServed") Станция метро: "Петроградская", ул. Профессора Попова, д. 23, 4 эт., оф. 407 (вход с проспекта Медиков, вывеска "офисный центр")
          +e.line 
            +e.A.link--email(href="mailto:spb@gostest.ru", target="_blank", itemprop="email") spb@gostest.ru
          +e.line 
            +e.A.link--tel(href="tel:+78126330516", target="_blank", itemprop="faxNumber") +7 (812) 633-05-16
          +e.line 
            +e.A.link--tel(href="tel:+78129279411", target="_blank", itemprop="telephone") +7 (812) 927-94-11
          +e.line 
            +e.SPAN.working-hours(itemprop="hoursAvailable") Мы работаем с 9:30 до 18:00 по местному времени
