include ../abstracts/bemto/bemto.pug

+b.SECTION.faq
  .container
    +e.H2.title Часто задаваемые вопросы:
    +e.block.row
      .hidden-xs.visible-lg.col-lg-1
        +e.icon
      .col-xs-12.col-lg-10
        +e.item(itemscope, itemtype="http://schema.org/Question")
          +e.H3.ask(itemprop="about") Произвожу продукцию, какие документы мне нужны?
          +e.text(itemprop="acceptedAnswer") 
            p В России предусмотрено своевременное оформление разрешительных и подтверждающих документов на предоставление определенных услуг, производство или продажу товаров.
            p Если вы не оформили вовремя документы, и вскоре планируется проверка вашего предприятия контролирующими органами РФ (Ростехнадзор, Роспотребнадзор, Росздавнадзор и др.) необходимо срочно обратиться к специалистам сертификационного центра Гортест Урал. Здесь максимально оперативно будет оформлен полный пакет недостающих документов.
            p Специалисты сертификационного центра Готест Урал также проводят профессиональные консультации в данной сфере. Позвоните по одному из номеров телефона, которые мы указали на страницах нашего сайта, и наши опытные, квалифицированные сотрудники помогут вам разобраться, какие именно документы и в какие сроки должны быть оформлены. 
              +e.link(href="page.html") Подробнее...
    +e.block.row
      .hidden-xs.visible-lg.col-lg-1
        +e.icon
      .col-xs-12.col-lg-10
        +e.item(itemscope, itemtype="http://schema.org/Question")
          +e.H3.ask(itemprop="about") Завожу продукцию из за рубежа, нужно пройти таможню!
          +e.text(itemprop="acceptedAnswer")  
            p В России предусмотрено своевременное оформление разрешительных и подтверждающих документов на предоставление определенных услуг, производство или продажу товаров.
            p Если вы не оформили вовремя документы, и вскоре планируется проверка вашего предприятия контролирующими органами РФ (Ростехнадзор, Роспотребнадзор, Росздавнадзор и др.) необходимо срочно обратиться к специалистам сертификационного центра Гортест Урал. Здесь максимально оперативно будет оформлен полный пакет недостающих документов.
              +e.link(href="page.html") Подробнее...
    +e.block.row
      .hidden-xs.visible-lg.col-lg-1
        +e.icon
      .col-xs-12.col-lg-10
        +e.item--active(itemscope, itemtype="http://schema.org/Question")
          +e.H3.ask(itemprop="about") Проверка контролирующих органов! СРОЧНО нужны документы
          +e.text(itemprop="acceptedAnswer")  
            p В России предусмотрено своевременное оформление разрешительных и подтверждающих документов на предоставление определенных услуг, производство или продажу товаров.
            p Если вы не оформили вовремя документы, и вскоре планируется проверка вашего предприятия контролирующими органами РФ (Ростехнадзор, Роспотребнадзор, Росздавнадзор и др.) необходимо срочно обратиться к специалистам сертификационного центра Гортест Урал. Здесь максимально оперативно будет оформлен полный пакет недостающих документов.
            p Специалисты сертификационного центра Готест Урал также проводят профессиональные консультации в данной сфере. Позвоните по одному из номеров телефона, которые мы указали на страницах нашего сайта, и наши опытные, квалифицированные сотрудники помогут вам разобраться, какие именно документы и в какие сроки должны быть оформлены.
              +e.link(href="page.html") Подробнее...
    +e.block.row
      .hidden-xs.visible-lg.col-lg-1
        +e.icon
      .col-xs-12.col-lg-10
        +e.item(itemscope, itemtype="http://schema.org/Question")
          +e.H3.ask(itemprop="about") Произвожу продукцию, какие документы мне нужны?
          +e.text(itemprop="acceptedAnswer")  
            p В России предусмотрено своевременное оформление разрешительных и подтверждающих документов на предоставление определенных услуг, производство или продажу товаров.
            p Если вы не оформили вовремя документы, и вскоре планируется проверка вашего предприятия контролирующими органами РФ (Ростехнадзор, Роспотребнадзор, Росздавнадзор и др.) необходимо срочно обратиться к специалистам сертификационного центра Гортест Урал. Здесь максимально оперативно будет оформлен полный пакет недостающих документов.
              +e.link(href="page.html") Подробнее...


