include ../abstracts/bemto/bemto.pug

+b.SECTION.glossary
  .container
    +e.line.row.row-xs-middle
      .col-xs-12.col-lg-3
        +e.H2.title Сертификация в деталях
      .col-xs-12.col-lg-7
        +e.UL.list
          +e.item 
            +e.A.link--active(href="single-glossary.html") А
          +e.item 
            +e.A.link(href="single-glossary.html") Б
          +e.item
            +e.A.link(href="single-glossary.html") В
          +e.item
            +e.A.link(href="single-glossary.html") Г
          +e.item
            +e.A.link(href="single-glossary.html") Д
          +e.item
            +e.A.link(href="single-glossary.html") Е
          +e.item 
            +e.A.link(href="single-glossary.html") Ж
          +e.item 
            +e.A.link(href="single-glossary.html") З
          +e.item
            +e.A.link(href="single-glossary.html") И
          +e.item
            +e.A.link(href="single-glossary.html") К
          +e.item
            +e.A.link(href="single-glossary.html") Л
          +e.item
            +e.A.link(href="single-glossary.html") М
          +e.item 
            +e.A.link(href="single-glossary.html") Н
          +e.item 
            +e.A.link(href="single-glossary.html") О
          +e.item
            +e.A.link(href="single-glossary.html") П
          +e.item
            +e.A.link(href="single-glossary.html") Р
          +e.item
            +e.A.link(href="single-glossary.html") С
          +e.item
            +e.A.link(href="single-glossary.html") Т
          +e.item 
            +e.A.link(href="single-glossary.html") У
          +e.item 
            +e.A.link(href="single-glossary.html") Ф
          +e.item
            +e.A.link(href="single-glossary.html") Х
          +e.item
            +e.A.link(href="single-glossary.html") Ц
          +e.item
            +e.A.link(href="single-glossary.html") Ч
          +e.item
            +e.A.link(href="single-glossary.html") Ш
          +e.item
            +e.A.link(href="single-glossary.html") Щ
          +e.item
            +e.A.link(href="single-glossary.html") Ы
          +e.item
            +e.A.link(href="single-glossary.html") Э
          +e.item
            +e.A.link(href="single-glossary.html") Ю
          +e.item 
            +e.A.link(href="single-glossary.html") Я
      .col-xs-12.col-lg-2
        +b.A.btn--more(href="page-glossary.html") Все записи

    .row
      +b.glossary-excerpt.col-xs-12.col-lg-3
        +e.H3.title 
          +e.A.link(href="single-glossary.html") Автомобильные запчасти
        +e.text От того, насколько качественно изготовлены автомобильные запчасти, может зависеть 

      +b.glossary-excerpt.col-xs-12.col-lg-3
        +e.H3.title 
          +e.A.link(href="single-glossary.html") Автосервис
        +e.text Сертификация автосервиса – это добровольная процедура, которая осуществляется с целью подтверждения качества и безопасности предоставляемых услуг. Это процесс, который

      +b.glossary-excerpt.col-xs-12.col-lg-3
        +e.H3.title 
          +e.A.link(href="single-glossary.html") Автошины, покрышки и колеса
        +e.text Сертификация автошин, покрышек и колес осуществляется в соответствии с Техническим регламентом «О безопасности колесных транспортных средств». В соответствии с
        
      +b.glossary-excerpt.col-xs-12.col-lg-3
        +e.H3.title 
          +e.A.link(href="single-glossary.html") Алкоголь
        +e.text Контроль государства за оборотом алкоголя – обязательное условие гарантий безопасности его потребителей, поэтому и лицензирование, и сертификация алкогольной продукции 