include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header
  +e.inner
    .container
      .row.row-xs-middle
        .col-xs-12.col-lg-4.col-xl-5
          // Logo
          +b.A.logo--header(href="index.html", itemscope, itemtype="http://schema.org/Brand")       
            img(src="img/logo.png", alt="logo", title="logo", itemprop="logo")
        .col-xs-12.col-lg-8.col-xl-6
          +b.contacts-section--header(itemscope, itemtype="http://schema.org/ContactPoint")
            .row
              .col-xs-12.col-lg-6
                +e.line 
                  +e.SPAN.city(itemprop="areaServed", class="icon ion-android-pin") Санкт-Петербург
                +e.line 
                  +e.SPAN.working-hours(itemprop="hoursAvailable", class="icon ion-android-time") Мы работаем с 9:30 до 18:00
              .col-xs-12.col-lg-6
                +e.line
                  +e.A.link--tel(href="tel:+78129279411", target="_blank", itemprop="telephone", class="icon ion-android-call") +7 (812) 927-94-11
                +e.line
                  +e.A.link--email(href="mailto:spb@gostest.ru", target="_blank", itemprop="email", class="icon ion-email") spb@gostest.ru
  +e.nav
    .container
      // Nav
      +b.NAV.nav
        +e.hamburger
          +b.A.hamburger(href="#")
            span
        +e.wrapper
          +e.UL.list
            +e.item--logo
              img(src="img/logo-nav.png", alt="logo", title="logo")
            +e.item 
              +e.A.link(href="index.html") Главная
            +e.item 
              +e.A.link(href="page.html") О компании
            +e.item 
              +e.A.link--dropdown(href="page-services.html") Услуги
                span(class="icon ion-chevron-down")
            +e.item 
              +e.A.link(href="page-news.html") Новости
            +e.item
              +e.A.link(href="page-glossary.html") Сертификация в деталях
            +e.item
              +e.A.link(href="page-contacts.html") Контакты
            +e.item--btn
              +e.A.link(href="page-form.html") Рассчитать стоимость

        +b.menu-services(itemscope, itemtype="http://schema.org/Service")
          +e.UL.list
            +e.item
              +e.H3.title(itemprop="serviceType") 
                +e.icon
                  svg(width='30', height='30')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#package')
                +e.A.link(href="single-service.html", itemprop="offers") Подтверждение соответствия Техническому регламенту
              +b.UL.menu-services-submenu
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Сертификат соответствия Техническому регламенту
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Декларация соответствия Техническому регламенту
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Свидетельство о безопасности конструкции транспортного средства (СБКТС)
            +e.item
              +e.H3.title(itemprop="serviceType") 
                +e.icon
                  svg(width='30', height='30')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#versions')
                +e.A.link(href="single-service.html", itemprop="offers") Подтверждение соответствия ГОСТ Р
              +b.UL.menu-services-submenu
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Сертификат ГОСТ Р
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Декларация ГОСТ Р
            +e.item
              +e.H3.title(itemprop="serviceType") 
                +e.icon
                  svg(width='30', height='30')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#package')
                +e.A.link(href="single-service.html", itemprop="offers") Сертификация продукции и услуг
              +b.UL.menu-services-submenu
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Сертификация услуг
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Обязательная сертификация
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Добровольная сертификация
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Сертификат происхождения СТ-1
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Сертификат происхождения формы А
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Протокол испытаний
            +e.item
              +e.H3.title(itemprop="serviceType") 
                +e.icon
                  svg(width='30', height='30')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#globe')
                +e.A.link(href="single-service.html", itemprop="offers") Сертификация за рубежом
              +b.UL.menu-services-submenu
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Декларация СЕ
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Сертификация RoHS
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Сертификация ССС
            +e.item
              +e.H3.title(itemprop="serviceType") 
                +e.icon
                  svg(width='30', height='30')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#star')
                +e.A.link(href="single-service.html", itemprop="offers") Сертификация менеджемента качества
              +b.UL.menu-services-submenu
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Сертификаты серии ISO 9001
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Сертификация ХАССП
            +e.item
              +e.H3.title(itemprop="serviceType") 
                +e.icon
                  svg(width='30', height='30')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#flame')
                +e.A.link(href="single-service.html", itemprop="offers") Подтверждение соответствия пожарной безопасности
              +b.UL.menu-services-submenu
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Сертификат пожарной безопасности
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Декларация пожарной безопасности
            +e.item
              +e.H3.title(itemprop="serviceType") 
                +e.icon
                  svg(width='30', height='30')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#gear')
                +e.A.link(href="single-service.html", itemprop="offers") Техническая документация
              +b.UL.menu-services-submenu
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Разработка технических условий
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Регистрация технических условий
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Разработка и регистрация паспорта безопасности
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Обоснование безопасности
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Паспорт качества на вещество
            +e.item
              +e.H3.title(itemprop="serviceType") 
                +e.icon
                  svg(width='30', height='30')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#repo')
                +e.A.link(href="single-service.html", itemprop="offers") Разрешительная документация
              +b.UL.menu-services-submenu
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Заключение ЭКСКОНТА
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Нотификация ФСБ
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Аттестация рабочих мест в России
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Проверка измерительных приборов
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Фитосанитарный сертификат
            +e.item
              +e.H3.title(itemprop="serviceType") 
                +e.icon
                  svg(width='30', height='30')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#mail')
                +e.A.link(href="single-service.html", itemprop="offers") Отказные письма
              +b.UL.menu-services-submenu
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Оформление отказных писем
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Отказное письмо от Роспотребнадзора и пожарной безопасности
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Отказное письмо для таможни и для торговли
            +e.item
              +e.H3.title(itemprop="serviceType") 
                +e.icon
                  svg(width='30', height='30')
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#bug')
                +e.A.link(href="single-service.html", itemprop="offers") Санитарно-эпидемиологическая оценка продукции
              +b.UL.menu-services-submenu
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Свидетельство о государственной регистрации
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Этапы оформления СГР
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Экспертное заключение Роспотребнадзора
                +e.item 
                  +e.A.link(href="single-service.html", itemprop="offers") Как получить экспертное заключение Роспотребнадзора                  
            //- +e.item
            //-   +e.H3.title(itemprop="serviceType") 
            //-     +e.icon
            //-       svg(width='30', height='30')
            //-         use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#versions')
            //-     | Класификаторы продукции
            //-   +b.UL.menu-services-submenu
            //-     +e.item 
            //-       +e.A.link(href="single-service.html", itemprop="offers") База кодов ОКП
            //-     +e.item 
            //-       +e.A.link(href="single-service.html", itemprop="offers") База кодов ТНВЭД
            //-     +e.item 
            //-       +e.A.link(href="single-service.html", itemprop="offers") База кодов ОКПД2
            //-     +e.item 
            //-       +e.A.link(href="single-service.html", itemprop="offers") Штрихкодирование 
          +e.A.close(href="#", class="icon ion-close")

  +e.search
    .container
      // Search
      +b.search
        +e.FORM.form
          +e.INPUT.input(type='text', name='Поиск', placeholder='Поиск...')
        +e.A.close(href="#", class="icon ion-close")









