include ../abstracts/bemto/bemto.pug

+b.SECTION.manager(itemscope, itemtype="http://schema.org/Person")
  +e.inner.row
    +e.photo.col-xs-12.col-xl-4
      +e.img
        img(src="img/manager1.jpg", alt="manager", title="manager", itemprop="image")
    +e.bio.col-xs-12.col-xl-6
      +e.H3.name(itemprop="name") Ирина Владимирова         
      +e.position(itemprop="jobTitle") менеджер 
      +e.education(itemprop="alumniOf") 
        p Южно-Уральский Государственный Университет
        p Специальность «Налоги и налогообложение»
        p Опыт работы в центре по сертификации с 2012 года
      +e.contacts(itemprop="contactPoint")
        +e.A.link--skype(href= "skype:skype01") irina.gortest
        +e.A.link--icq(href= "http://www.icq.com/whitepages/cmd.php?uin=111222333&action=message") 111-222-333
        +e.A.link--email(href="mailto:irina.manager@gortest.ru", target="_blank", itemprop="email") irina.manager@gortest.ru



