include ../abstracts/bemto/bemto.pug

+b.SECTION.services(itemscope, itemtype="http://schema.org/Service")
  .container
    if index
      +e.H2.title Мы предлагаем
    else
      +e.H2.title Какие услуги предоставляет наш центр?      
    +e.bg.row
      +e.block.col-xs-12.col-md-6.col-lg-4.col-xl-3 
        +b.services-type
          +e.H3.title(itemprop="serviceType") 
            +e.icon
              svg(width='30', height='30')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#package')
            +e.A.title-link(href="single-service.html", itemprop="offers") Подтверждение соответствия Техническому регламенту
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат соответствия Техническому регламенту
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Декларация соответствия Техническому регламенту
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Свидетельство о безопасности конструкции транспортного средства (СБКТС)

      +e.block.col-xs-12.col-md-6.col-lg-4.col-xl-3 
        +b.services-type
          +e.H3.title(itemprop="serviceType") 
            +e.icon
              svg(width='30', height='30')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#RST_logo')
            +e.A.title-link(href="single-service.html", itemprop="offers") Подтверждение соответствия ГОСТ Р
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат ГОСТ Р
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Декларация ГОСТ Р

      +e.block.col-xs-12.col-md-6.col-lg-4.col-xl-3
        +b.services-type
          +e.H3.title(itemprop="serviceType") 
            +e.icon
              svg(width='30', height='30')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#versions')
            +e.A.title-link(href="single-service.html", itemprop="offers") Сертификация продукции и услуг
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификация услуг
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Обязательная сертификация
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Добровольная сертификация
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат происхождения СТ-1
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат происхождения формы А
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Протокол испытаний

      +e.block.col-xs-12.col-md-6.col-lg-4.col-xl-3 
        +b.services-type
          +e.H3.title(itemprop="serviceType") 
            +e.icon
              svg(width='30', height='30')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#globe')
            +e.A.title-link(href="single-service.html", itemprop="offers") Сертификация за рубежом
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Декларация СЕ
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификация RoHS
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификация ССС

      +e.block.col-xs-12.col-md-6.col-lg-4.col-xl-3 
        +b.services-type
          +e.H3.title(itemprop="serviceType") 
            +e.icon
              svg(width='30', height='30')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#star') 
            +e.A.title-link(href="single-service.html", itemprop="offers") Сертификация менеджемента качества
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификаты серии ISO 9001
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификация ХАССП

      +e.block.col-xs-12.col-md-6.col-lg-4.col-xl-3
        +b.services-type 
          +e.H3.title(itemprop="serviceType") 
            +e.icon
              svg(width='30', height='30')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#flame')
            +e.A.title-link(href="single-service.html", itemprop="offers") Подтверждение соответствия пожарной безопасности
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Сертификат пожарной безопасности
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Декларация пожарной безопасности

      +e.block.col-xs-12.col-md-6.col-lg-4.col-xl-3 
        +b.services-type
          +e.H3.title(itemprop="serviceType") 
            +e.icon
              svg(width='30', height='30')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#gear')
            +e.A.title-link(href="single-service.html", itemprop="offers") Техническая документация
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Разработка технических условий
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Регистрация технических условий
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Разработка и регистрация паспорта безопасности
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Обоснование безопасности
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Паспорт качества на вещество

      +e.block.col-xs-12.col-md-6.col-lg-4.col-xl-3 
        +b.services-type
          +e.H3.title(itemprop="serviceType") 
            +e.icon
              svg(width='30', height='30')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#repo') 
            +e.A.title-link(href="single-service.html", itemprop="offers") Разрешительная документация
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Заключение ЭКСКОНТА
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Нотификация ФСБ
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Аттестация рабочих мест в России
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Проверка измерительных приборов
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Фитосанитарный сертификат

      +e.block.col-xs-12.col-md-6.col-lg-4.col-xl-3 
        +b.services-type
          +e.H3.title(itemprop="serviceType") 
            +e.icon
              svg(width='30', height='30')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#mail')
            +e.A.title-link(href="single-service.html", itemprop="offers") Отказные письма
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Оформление отказных писем
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Отказное письмо от Роспотребнадзора и пожарной безопасности
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Отказное письмо для таможни и для торговли

      +e.block.col-xs-12.col-md-6.col-lg-4.col-xl-3 
        +b.services-type
          +e.H3.title(itemprop="serviceType") 
            +e.icon
              svg(width='30', height='30')
                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#bug')
            +e.A.title-link(href="single-service.html", itemprop="offers") Санитарно-эпидемиологическая оценка продукции
          +e.UL.list
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Свидетельство о государственной регистрации
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Этапы оформления СГР
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Экспертное заключение Роспотребнадзора
            +e.item 
              +e.A.link(href="single-service.html", itemprop="offers") Как получить экспертное заключение Роспотребнадзора

      +e.block.col-xs-12.col-md-6.col-lg-4.col-xl-3
        +b.services-type--question 
          +e.H3.title
            +e.A.link(href="page-questions.html") Задать вопрос









 
