include ../abstracts/bemto/bemto.pug

+b.SECTION.specialists
  .container
    .row.row-xs-bottom
      .col-xs-12.col-lg-6
        +e.H2.title С вами работает    
        // Manager
        include _manager.pug 
      .col-xs-12.col-md-8.offset-md-2.col-lg-6.offset-lg-0
        +e.form
          // Form application
          include _form--application.pug
