<section class="contacts">
  <div class="container-fluid">
    <h2 class="contacts__title">Контакты:</h2>
    <div class="row">
      <div class="col-xs-12 col-lg-7">
        <div class="contacts__map"></div>
      </div>
      <div class="col-xs-12 col-lg-5">
        <div class="contacts-section contacts-section--map" itemscope="itemscope" itemtype="http://schema.org/ContactPoint">
          <div class="contacts-section__inner">
            <div class="contacts-section__line">
              <span class="contacts-section__address" itemprop="areaServed">Станция метро: "Петроградская", ул. Профессора Попова, д. 23, 4 эт., оф. 407 (вход с проспекта Медиков, вывеска "офисный центр")</span>
            </div>
            <div class="contacts-section__line">
              <a class="contacts-section__link contacts-section__link--email" href="mailto:spb@gostest.ru" target="_blank" itemprop="email">spb@gostest.ru</a>
            </div>
            <div class="contacts-section__line">
              <a class="contacts-section__link contacts-section__link--tel" href="tel:+78126330516" target="_blank" itemprop="faxNumber">+7 (812) 633-05-16</a>
            </div>
            <div class="contacts-section__line">
              <a class="contacts-section__link contacts-section__link--tel" href="tel:+78129279411" target="_blank" itemprop="telephone">+7 (812) 927-94-11</a>
            </div>
            <div class="contacts-section__line">
              <span class="contacts-section__working-hours" itemprop="hoursAvailable">Мы работаем с 9:30 до 18:00 по местному времени</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>