<section class="faq">
  <div class="container">
    <h2 class="faq__title">Часто задаваемые вопросы:</h2>
    <div class="faq__block row">
      <div class="hidden-xs visible-lg col-lg-1">
        <div class="faq__icon"></div>
      </div>
      <div class="col-xs-12 col-lg-10">
        <div class="faq__item" itemscope="itemscope" itemtype="http://schema.org/Question">
          <h3 class="faq__ask" itemprop="about">Произвожу продукцию, какие документы мне нужны?</h3>
          <div class="faq__text" itemprop="acceptedAnswer">
            <p>В России предусмотрено своевременное оформление разрешительных и подтверждающих документов на предоставление определенных услуг, производство или продажу товаров.</p>
            <p>Если вы не оформили вовремя документы, и вскоре планируется проверка вашего предприятия контролирующими органами РФ (Ростехнадзор, Роспотребнадзор, Росздавнадзор и др.) необходимо срочно обратиться к специалистам сертификационного центра Гортест
              Урал. Здесь максимально оперативно будет оформлен полный пакет недостающих документов.</p>
            <p>Специалисты сертификационного центра Готест Урал также проводят профессиональные консультации в данной сфере. Позвоните по одному из номеров телефона, которые мы указали на страницах нашего сайта, и наши опытные, квалифицированные сотрудники
              помогут вам разобраться, какие именно документы и в какие сроки должны быть оформлены.
              <a class="faq__link" href="page.html">Подробнее...</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="faq__block row">
      <div class="hidden-xs visible-lg col-lg-1">
        <div class="faq__icon"></div>
      </div>
      <div class="col-xs-12 col-lg-10">
        <div class="faq__item" itemscope="itemscope" itemtype="http://schema.org/Question">
          <h3 class="faq__ask" itemprop="about">Завожу продукцию из за рубежа, нужно пройти таможню!</h3>
          <div class="faq__text" itemprop="acceptedAnswer">
            <p>В России предусмотрено своевременное оформление разрешительных и подтверждающих документов на предоставление определенных услуг, производство или продажу товаров.</p>
            <p>Если вы не оформили вовремя документы, и вскоре планируется проверка вашего предприятия контролирующими органами РФ (Ростехнадзор, Роспотребнадзор, Росздавнадзор и др.) необходимо срочно обратиться к специалистам сертификационного центра Гортест
              Урал. Здесь максимально оперативно будет оформлен полный пакет недостающих документов.
              <a class="faq__link" href="page.html">Подробнее...</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="faq__block row">
      <div class="hidden-xs visible-lg col-lg-1">
        <div class="faq__icon"></div>
      </div>
      <div class="col-xs-12 col-lg-10">
        <div class="faq__item faq__item--active" itemscope="itemscope" itemtype="http://schema.org/Question">
          <h3 class="faq__ask" itemprop="about">Проверка контролирующих органов! СРОЧНО нужны документы</h3>
          <div class="faq__text" itemprop="acceptedAnswer">
            <p>В России предусмотрено своевременное оформление разрешительных и подтверждающих документов на предоставление определенных услуг, производство или продажу товаров.</p>
            <p>Если вы не оформили вовремя документы, и вскоре планируется проверка вашего предприятия контролирующими органами РФ (Ростехнадзор, Роспотребнадзор, Росздавнадзор и др.) необходимо срочно обратиться к специалистам сертификационного центра Гортест
              Урал. Здесь максимально оперативно будет оформлен полный пакет недостающих документов.</p>
            <p>Специалисты сертификационного центра Готест Урал также проводят профессиональные консультации в данной сфере. Позвоните по одному из номеров телефона, которые мы указали на страницах нашего сайта, и наши опытные, квалифицированные сотрудники
              помогут вам разобраться, какие именно документы и в какие сроки должны быть оформлены.
              <a class="faq__link" href="page.html">Подробнее...</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="faq__block row">
      <div class="hidden-xs visible-lg col-lg-1">
        <div class="faq__icon"></div>
      </div>
      <div class="col-xs-12 col-lg-10">
        <div class="faq__item" itemscope="itemscope" itemtype="http://schema.org/Question">
          <h3 class="faq__ask" itemprop="about">Произвожу продукцию, какие документы мне нужны?</h3>
          <div class="faq__text" itemprop="acceptedAnswer">
            <p>В России предусмотрено своевременное оформление разрешительных и подтверждающих документов на предоставление определенных услуг, производство или продажу товаров.</p>
            <p>Если вы не оформили вовремя документы, и вскоре планируется проверка вашего предприятия контролирующими органами РФ (Ростехнадзор, Роспотребнадзор, Росздавнадзор и др.) необходимо срочно обратиться к специалистам сертификационного центра Гортест
              Урал. Здесь максимально оперативно будет оформлен полный пакет недостающих документов.
              <a class="faq__link" href="page.html">Подробнее...</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="faq__btn">
      <a class="btn btn--faq" href="page-faq.html">Все вопросы</a>
    </div>
  </div>
</section>