<!-- Footer-->
<footer class="footer">
  <div class="footer__inner container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-3">
        <!-- Logo-->
        <a class="logo logo--footer" href="index.html" itemscope="itemscope" itemtype="http://schema.org/Brand">
          <img src="img/logo-footer.png" alt="logo" title="logo" itemprop="logo" />
        </a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 flex-lg-last">
        <div class="footer__btn">
          <a class="btn btn--footer" href="page-form.html">Рассчитать стоимость</a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-2">
        <!-- Nav-->
        <nav class="nav-footer">
          <ul class="nav-footer__list">
            <li class="nav-footer__item">
              <a class="nav-footer__link nav-footer__link--active" href="index.html">Главная</a>
            </li>
            <li class="nav-footer__item">
              <a class="nav-footer__link" href="page.html">О компании</a>
            </li>
            <li class="nav-footer__item">
              <a class="nav-footer__link" href="page-services.html">Услуги</a>
            </li>
            <li class="nav-footer__item">
              <a class="nav-footer__link" href="page-news.html">Новости</a>
            </li>
            <li class="nav-footer__item">
              <a class="nav-footer__link" href="page-contacts.html">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="contacts-section contacts-section--footer" itemscope="itemscope" itemtype="http://schema.org/ContactPoint">
          <div class="contacts-section__line">
            <span class="contacts-section__city" itemprop="areaServed">Санкт-Петербург</span>
          </div>
          <div class="contacts-section__line">
            <span class="contacts-section__working-hours" itemprop="hoursAvailable">Мы работаем с 9:30 до 18:00</span>
          </div>
          <div class="contacts-section__line">
            <a class="contacts-section__link contacts-section__link--tel" href="tel:+78129279411" target="_blank" itemprop="telephone">+7 (812) 927-94-11</a>
          </div>
          <div class="contacts-section__line">
            <a class="contacts-section__link contacts-section__link--email" href="mailto:spb@gostest.ru" target="_blank" itemprop="email">spb@gostest.ru</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="footer__copyright">© Сертификационный центр "ГорТест". 2008 - 2016</div>
      </div>
    </div>
  </div>
</footer>
<!-- Fixed sidebar-->
<aside class="sidebar">
  <!-- Social links-->
  <ul class="social-links">
    <li class="social-links__item">
      <a class="social-links__link social-links__link--search" href="#"></a>
    </li>
    <li class="social-links__item">
      <a class="social-links__link social-links__link--rss" href="#"></a>
    </li>
    <li class="social-links__item">
      <a class="social-links__link social-links__link--vk" href="#"></a>
    </li>
    <li class="social-links__item">
      <a class="social-links__link social-links__link--tw" href="#"></a>
    </li>
    <li class="social-links__item">
      <a class="social-links__link social-links__link--fb" href="#"></a>
    </li>
    <li class="social-links__item">
      <a class="social-links__link social-links__link--price" href="page-faq.html">Задать вопрос</a>
    </li>
  </ul>
  <a class="up" href="#"></a>
</aside>