<section class="form form--cost">
  <form action="" method="">
    <h3 class="form__title">Рассчитать стоимость</h3>
    <div class="form-group field-name">
      <p class="form__text">Ваше имя*</p>
      <input class="form__input" type="text" name="Имя" value="Светлана" />
      <p class="help-block">Ошибка заполнения поля формы</p>
    </div>
    <div class="form-group field-tel-email required">
      <p class="form__text">Телефон или эл.почта:*</p>
      <input class="form__input" type="text" name="Телефон/email" value="+7 950 100-00-00" />
      <p class="help-block">Ошибка заполнения поля формы</p>
    </div>
    <div class="form-group field-question required">
      <p class="form__text">Комментарий:*</p>
      <textarea class="form__textarea" name="Комментарий">Какая стоимость сертификата для...</textarea>
      <p class="help-block">Ошибка заполнения поля формы</p>
    </div>
    <div class="form-group">
      <button class="btn btn--form" type="submit">Рассчитать</button>
      <p class="help-block help-block-success">Ваша заявка отправлена</p>
    </div>
  </form>
</section>