<!-- Header-->
<header class="header">
  <div class="header__inner">
    <div class="container">
      <div class="row row-xs-middle">
        <div class="col-xs-12 col-lg-4 col-xl-5">
          <!-- Logo-->
          <a class="logo logo--header" href="index.html" itemscope="itemscope" itemtype="http://schema.org/Brand">
            <img src="img/logo.png" alt="logo" title="logo" itemprop="logo" />
          </a>
        </div>
        <div class="col-xs-12 col-lg-8 col-xl-6">
          <div class="contacts-section contacts-section--header" itemscope="itemscope" itemtype="http://schema.org/ContactPoint">
            <div class="row">
              <div class="col-xs-12 col-lg-6">
                <div class="contacts-section__line">
                  <span class="contacts-section__city icon ion-android-pin" itemprop="areaServed">Санкт-Петербург</span>
                </div>
                <div class="contacts-section__line">
                  <span class="contacts-section__working-hours icon ion-android-time" itemprop="hoursAvailable">Мы работаем с 9:30 до 18:00</span>
                </div>
              </div>
              <div class="col-xs-12 col-lg-6">
                <div class="contacts-section__line">
                  <a class="contacts-section__link contacts-section__link--tel icon ion-android-call" href="tel:+78129279411" target="_blank" itemprop="telephone">+7 (812) 927-94-11</a>
                </div>
                <div class="contacts-section__line">
                  <a class="contacts-section__link contacts-section__link--email icon ion-email" href="mailto:spb@gostest.ru" target="_blank" itemprop="email">spb@gostest.ru</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__nav">
    <div class="container">
      <!-- Nav-->
      <nav class="nav">
        <div class="nav__hamburger">
          <a class="hamburger" href="#">
            <span></span>
          </a>
        </div>
        <div class="nav__wrapper">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="index.html">Главная</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="page.html">О компании</a>
            </li>
            <li class="nav__item">
              <a class="nav__link nav__link--dropdown" href="page-services.html">Услуги
                <span class="icon ion-chevron-down"></span>
              </a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="page-news.html">Новости</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="page-glossary.html">Сертификация в деталях</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="page-contacts.html">Контакты</a>
            </li>
            <li class="nav__item nav__item--btn">
              <a class="nav__link" href="page-form.html">Рассчитать стоимость</a>
            </li>
          </ul>
        </div>
        <div class="menu-services" itemscope="itemscope" itemtype="http://schema.org/Service">
          <ul class="menu-services__list">
            <li class="menu-services__item">
              <h3 class="menu-services__title" itemprop="serviceType">
                <span class="menu-services__icon">
                  <svg width="30" height="30">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#package"></use>
                  </svg>
                </span>
                <a class="menu-services__link" href="single-service.html" itemprop="offers">Подтверждение соответствия Техническому регламенту</a>
              </h3>
              <ul class="menu-services-submenu">
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Сертификат соответствия Техническому регламенту</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Декларация соответствия Техническому регламенту</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Свидетельство о безопасности конструкции транспортного средства (СБКТС)</a>
                </li>
              </ul>
            </li>
            <li class="menu-services__item">
              <h3 class="menu-services__title" itemprop="serviceType">
                <span class="menu-services__icon">
                  <svg width="30" height="30">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#rst"></use>
                  </svg>
                </span>
                <a class="menu-services__link" href="single-service.html" itemprop="offers">Подтверждение соответствия ГОСТ Р</a>
              </h3>
              <ul class="menu-services-submenu">
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Сертификат ГОСТ Р</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Декларация ГОСТ Р</a>
                </li>
              </ul>
            </li>
            <li class="menu-services__item">
              <h3 class="menu-services__title" itemprop="serviceType">
                <span class="menu-services__icon">
                  <svg width="30" height="30">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#versions"></use>
                  </svg>
                </span>
                <a class="menu-services__link" href="single-service.html" itemprop="offers">Сертификация продукции и услуг</a>
              </h3>
              <ul class="menu-services-submenu">
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Сертификация услуг</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Обязательная сертификация</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Добровольная сертификация</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Сертификат происхождения СТ-1</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Сертификат происхождения формы А</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Протокол испытаний</a>
                </li>
              </ul>
            </li>
            <li class="menu-services__item">
              <h3 class="menu-services__title" itemprop="serviceType">
                <span class="menu-services__icon">
                  <svg width="30" height="30">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#globe"></use>
                  </svg>
                </span>
                <a class="menu-services__link" href="single-service.html" itemprop="offers">Сертификация за рубежом</a>
              </h3>
              <ul class="menu-services-submenu">
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Декларация СЕ</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Сертификация RoHS</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Сертификация ССС</a>
                </li>
              </ul>
            </li>
            <li class="menu-services__item">
              <h3 class="menu-services__title" itemprop="serviceType">
                <span class="menu-services__icon">
                  <svg width="30" height="30">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
                  </svg>
                </span>
                <a class="menu-services__link" href="single-service.html" itemprop="offers">Сертификация менеджемента качества</a>
              </h3>
              <ul class="menu-services-submenu">
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Сертификаты серии ISO 9001</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Сертификация ХАССП</a>
                </li>
              </ul>
            </li>
            <li class="menu-services__item">
              <h3 class="menu-services__title" itemprop="serviceType">
                <span class="menu-services__icon">
                  <svg width="30" height="30">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#flame"></use>
                  </svg>
                </span>
                <a class="menu-services__link" href="single-service.html" itemprop="offers">Подтверждение соответствия пожарной безопасности</a>
              </h3>
              <ul class="menu-services-submenu">
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Сертификат пожарной безопасности</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Декларация пожарной безопасности</a>
                </li>
              </ul>
            </li>
            <li class="menu-services__item">
              <h3 class="menu-services__title" itemprop="serviceType">
                <span class="menu-services__icon">
                  <svg width="30" height="30">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gear"></use>
                  </svg>
                </span>
                <a class="menu-services__link" href="single-service.html" itemprop="offers">Техническая документация</a>
              </h3>
              <ul class="menu-services-submenu">
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Разработка технических условий</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Регистрация технических условий</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Разработка и регистрация паспорта безопасности</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Обоснование безопасности</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Паспорт качества на вещество</a>
                </li>
              </ul>
            </li>
            <li class="menu-services__item">
              <h3 class="menu-services__title" itemprop="serviceType">
                <span class="menu-services__icon">
                  <svg width="30" height="30">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#repo"></use>
                  </svg>
                </span>
                <a class="menu-services__link" href="single-service.html" itemprop="offers">Разрешительная документация</a>
              </h3>
              <ul class="menu-services-submenu">
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Заключение ЭКСКОНТА</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Нотификация ФСБ</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Аттестация рабочих мест в России</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Проверка измерительных приборов</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Фитосанитарный сертификат</a>
                </li>
              </ul>
            </li>
            <li class="menu-services__item">
              <h3 class="menu-services__title" itemprop="serviceType">
                <span class="menu-services__icon">
                  <svg width="30" height="30">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mail"></use>
                  </svg>
                </span>
                <a class="menu-services__link" href="single-service.html" itemprop="offers">Отказные письма</a>
              </h3>
              <ul class="menu-services-submenu">
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Оформление отказных писем</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Отказное письмо от Роспотребнадзора и пожарной безопасности</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Отказное письмо для таможни и для торговли</a>
                </li>
              </ul>
            </li>
            <li class="menu-services__item">
              <h3 class="menu-services__title" itemprop="serviceType">
                <span class="menu-services__icon">
                  <svg width="30" height="30">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bug"></use>
                  </svg>
                </span>
                <a class="menu-services__link" href="single-service.html" itemprop="offers">Санитарно-эпидемиологическая оценка продукции</a>
              </h3>
              <ul class="menu-services-submenu">
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Свидетельство о государственной регистрации</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Этапы оформления СГР</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Экспертное заключение Роспотребнадзора</a>
                </li>
                <li class="menu-services-submenu__item">
                  <a class="menu-services-submenu__link" href="single-service.html" itemprop="offers">Как получить экспертное заключение Роспотребнадзора </a>
                </li>
              </ul>
            </li>
          </ul>
          <a class="menu-services__close icon ion-close" href="#"></a>
        </div>
      </nav>
    </div>
  </div>
  <div class="header__search">
    <div class="container">
      <!-- Search-->
      <div class="search">
        <form class="search__form">
          <input class="search__input" type="text" name="Поиск" placeholder="Поиск..." />
        </form>
        <a class="search__close icon ion-close" href="#"></a>
      </div>
    </div>
  </div>
</header>