<section class="manager" itemscope="itemscope" itemtype="http://schema.org/Person">
  <div class="manager__inner row">
    <div class="manager__photo col-xs-12 col-md-4 col-lg-12 col-xl-4">
      <div class="manager__img">
        <img src="img/manager1.jpg" alt="manager" title="manager" itemprop="image" />
      </div>
    </div>
    <div class="manager__bio col-xs-12 col-md-8 col-lg-12 col-xl-6">
      <h3 class="manager__name" itemprop="name">Ирина Владимировна </h3>
      <div class="manager__position" itemprop="jobTitle">менеджер </div>
      <div class="manager__education" itemprop="alumniOf">
        <p>Южно-Уральский Государственный Университет</p>
        <p>Специальность «Налоги и налогообложение»</p>
        <p>Опыт работы в центре по сертификации с 2012 года</p>
      </div>
      <div class="manager__contacts" itemprop="contactPoint">
        <a class="manager__link manager__link--skype" href="skype:skype01">irina.gortest</a>
        <a class="manager__link manager__link--icq" href="http://www.icq.com/whitepages/cmd.php?uin=111222333&amp;amp;action=message">111-222-333</a>
        <a class="manager__link manager__link--email" href="mailto:irina.manager@gortest.ru" target="_blank" itemprop="email">irina.manager@gortest.ru</a>
      </div>
    </div>
  </div>
</section>