<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Отзывы</h2>
    <div class="row">
      <div class="review-item review-item--first col-xs-12 col-md-6 col-xl-4" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="review-item__img">
          <img src="img/review-logo1.png" alt="review-logo1" title="review-logo1" itemprop="image" />
        </div>
        <div class="review-item__inner">
          <h3 class="review-item__title" itemprop="author">ООО “Ника Россия”</h3>
          <div class="review-item__text" itemprop="reviewBody">Хотел продавать мед в магазины - потребовали документы о качестве. Обратился в Гортест, тут провели все проверки и выдали мне нужный сертификат. Просто спасли! Отдельная Благодарность менеджеру Юлии. </div>
        </div>
      </div>
      <div class="review-item review-item--second col-xs-12 col-md-6 col-xl-4" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="review-item__img">
          <img src="img/review-logo1.png" alt="review-logo1" title="review-logo1" itemprop="image" />
        </div>
        <div class="review-item__inner">
          <h3 class="review-item__title" itemprop="author">ООО “Ника Россия”</h3>
          <div class="review-item__text" itemprop="reviewBody">Хотел продавать мед в магазины - потребовали документы о качестве. Обратился в Гортест, тут провели все проверки и выдали мне нужный сертификат. Просто спасли! Отдельная Благодарность менеджеру Юлии. </div>
        </div>
      </div>
      <div class="review-item review-item--third col-xs-12 col-md-6 col-xl-4" itemscope="itemscope" itemtype="http://schema.org/Review">
        <div class="review-item__img">
          <img src="img/review-logo1.png" alt="review-logo1" title="review-logo1" itemprop="image" />
        </div>
        <div class="review-item__inner">
          <h3 class="review-item__title" itemprop="author">ООО “Ника Россия”</h3>
          <div class="review-item__text" itemprop="reviewBody">Хотел продавать мед в магазины - потребовали документы о качестве. Обратился в Гортест, тут провели все проверки и выдали мне нужный сертификат. Просто спасли! Отдельная Благодарность менеджеру Юлии. </div>
        </div>
      </div>
    </div>
  </div>
</section>