<section class="services" itemscope="itemscope" itemtype="http://schema.org/Service">
  <div class="container">
    <h2 class="services__title">Мы предлагаем</h2>
    <div class="services__bg row">
      <div class="services__block col-xs-12 col-md-6 col-lg-4 col-xl-3">
        <div class="services-type">
          <h3 class="services-type__title" itemprop="serviceType">
            <span class="services-type__icon">
              <svg width="30" height="30">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#package"></use>
              </svg>
            </span>Сертификация продукции и услуг</h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат соответствия Техническому регламенту</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Декларация соответствия Техническому регламенту</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификация услуг</a>
            </li>
            <li class="services-type__item services-type__item--more">
              <a class="services-type__link" href="#">Еще 6 услуг </a>
            </li>
            <li class="services-type__item services-type__item--hidden">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат происхождения СТ-1</a>
            </li>
            <li class="services-type__item services-type__item--hidden">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат происхождения формы А</a>
            </li>
            <li class="services-type__item services-type__item--hidden">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Свидетельство о БКТС</a>
            </li>
            <li class="services-type__item services-type__item--hidden">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Фитосанитарный сертификат</a>
            </li>
            <li class="services-type__item services-type__item--hidden">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Протокол испытаний</a>
            </li>
            <li class="services-type__item services-type__item--hidden">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификация в деталях</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services__block col-xs-12 col-md-6 col-lg-4 col-xl-3">
        <div class="services-type">
          <h3 class="services-type__title" itemprop="serviceType">
            <span class="services-type__icon">
              <svg width="30" height="30">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bug"></use>
              </svg>
            </span>Санитарно-эпидемиологическая оценка продукции</h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Свидетельство о государственной регистрации</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Этапы оформления СГР</a>
            </li>
            <li class="services-type__item services-type__item--more">
              <a class="services-type__link" href="#">Еще 4 услуги </a>
            </li>
            <li class="services-type__item services-type__item--hidden">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Свидетельство о государственной регистрации</a>
            </li>
            <li class="services-type__item services-type__item--hidden">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Этапы оформления СГР</a>
            </li>
            <li class="services-type__item services-type__item--hidden">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Свидетельство о государственной регистрации</a>
            </li>
            <li class="services-type__item services-type__item--hidden">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Этапы оформления СГР</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services__block col-xs-12 col-md-6 col-lg-4 col-xl-3">
        <div class="services-type">
          <h3 class="services-type__title" itemprop="serviceType">
            <span class="services-type__icon">
              <svg width="30" height="30">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#repo"></use>
              </svg>
            </span>Разрешительная документация</h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Заключение ЭКСКОНТА</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Нотификация ФСБ</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Аттестация рабочих мест в России</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Проверка измерительных приборов</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services__block col-xs-12 col-md-6 col-lg-4 col-xl-3">
        <div class="services-type">
          <h3 class="services-type__title" itemprop="serviceType">
            <span class="services-type__icon">
              <svg width="30" height="30">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gear"></use>
              </svg>
            </span>Техническая документация</h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Технические условия и разработка ТУ</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Обоснование безопасности</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Паспорт качества на вещество</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Разработка и регистрация паспорта безопасности</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services__block col-xs-12 col-md-6 col-lg-4 col-xl-3">
        <div class="services-type">
          <h3 class="services-type__title" itemprop="serviceType">
            <span class="services-type__icon">
              <svg width="30" height="30">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mail"> </use>
              </svg>
            </span>Отказные письма</h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Отказное письмо от Роспотребнадзора и пожарной безопасности</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Отказное письмо для таможни и для торговли</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Отказные письма</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services__block col-xs-12 col-md-6 col-lg-4 col-xl-3">
        <div class="services-type">
          <h3 class="services-type__title" itemprop="serviceType">
            <span class="services-type__icon">
              <svg width="30" height="30">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#star"></use>
              </svg>
            </span>Сертификация менеджемента качества</h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификаты серии ISO 9001</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификация ХАССП</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services__block col-xs-12 col-md-6 col-lg-4 col-xl-3">
        <div class="services-type">
          <h3 class="services-type__title" itemprop="serviceType">
            <span class="services-type__icon">
              <svg width="30" height="30">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#flame"></use>
              </svg>
            </span>Подтверждение соответствия пожарной безопасности</h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификат пожарной безопасности</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Декларация пожарной безопасности</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services__block col-xs-12 col-md-6 col-lg-4 col-xl-3">
        <div class="services-type">
          <h3 class="services-type__title" itemprop="serviceType">
            <span class="services-type__icon">
              <svg width="30" height="30">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#versions"> </use>
              </svg>
            </span>Класификаторы продукции</h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">База кодов ОКП</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">База кодов ТНВЭД</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">База кодов ОКПД2</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Штрихкодирование</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services__block col-xs-12 col-md-6 col-lg-4 col-xl-3">
        <div class="services-type">
          <h3 class="services-type__title" itemprop="serviceType">
            <span class="services-type__icon">
              <svg width="30" height="30">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#globe"></use>
              </svg>
            </span>Сертификация за рубежом</h3>
          <ul class="services-type__list">
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Декларация СЕ</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификация RoHS</a>
            </li>
            <li class="services-type__item">
              <a class="services-type__link" href="single-service.html" itemprop="offers">Сертификация ССС </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services__block col-xs-12 col-md-6 col-lg-4 col-xl-3">
        <div class="services-type services-type--question">
          <h3 class="services-type__title">
            <a class="services-type__link" href="single-service.html">Задать вопрос</a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>